$navbar-height: 62px;
$navbar__menu-height: 46px;
$sidebar-width: 260px;

body {
    background-image: linear-gradient(-45deg, rgba(bg-color(primary), 0.3) 0%, bg-color(lighter) 100%);
    color: text-color(primary);
}

.main-wrap {
    @include animate(main-wrap, 0.75s);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px 0;
    position: relative;
}

.navbar {
    @include size(100%, $navbar-height);
    background-color: bg-color(default);
    box-shadow: 0 10px 16px -16px shadow-color(dark);
    color: text-color(secondary);
    padding: 0 30px;
}
.navbar__logo {
    // background: url("#{$img_path}logo.svg") 20px center no-repeat;
    background-size: 46px;
    font-size: font-size(large);
    font-weight: bold;
    height: $navbar-height;
    line-height: $navbar-height;
    min-width: $sidebar-width;
    padding-left: 78px;
    & .logo__text {
        background-image: radial-gradient(ellipse at center, text-color(accent) 0%, text-color(strong) 100%);
        background-clip: text;
        color: transparent;
    }
}
.navbar__menu {
    $menu__item--width: 90px;
    line-height: $navbar-height;
    margin-left: calc(8px + 0.5vw);
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 5;
    & .menu__item {
        cursor: pointer;
        display: inline-block;
        transition: color 0.2s;
        vertical-align: middle;
        width: $menu__item--width;
        &:hover {
            color: text-color(default);
            & ~ .menu__decoration {
                top: 70%;
            }
        }
    }
    & .router-link-active {
        color: text-color(info);
        cursor: default;
        &:hover {
            color: text-color(info);
            & ~ .menu__decoration {
                opacity: 0.4;
            }
        }
    }
    @for $i from 1 through 7 {
        .menu__item:nth-of-type(#{$i}):hover ~ .menu__decoration {
            left: $menu__item--width * $i - $menu__item--width;
        }
    }
    & .menu__decoration {
        @include animate(rotate, 3.8s, infinite);
        @include size(98px);
        animation-timing-function: linear;
        background-color: rgba(bg-color(warning), 0.15);
        border-radius: 40px;
        position: absolute;
        top: 120%;
        left: 45%;
        transition: all 1s;
        z-index: -1;
        &:last-of-type {
            @include size(92px);
            animation-duration: 3.2s;
            background-color: rgba(bg-color(primary), 0.7);
            border-radius: 37px;
            margin: 2px 0 0 3px;
        }
    }
}





.navbar__setting {
    font-size: font-size(mini);
    & .setting__item {
        background-color: bg-color(weak);
        border-radius: 0 border-radius(large) border-radius(large) 0;
        cursor: pointer;
        height: 21px;
        line-height: 21px;
        margin-right: 12px;
        padding: 0 10px;
        position: relative;
        transition: color 0.2s;
        &:hover {
            color: text-color(primary);
            & .item__icon {
                @include animate(rotate, 1s, infinite);
                animation-timing-function: linear;
            }
        }
    }
    & .item__image {
        @include size(36px);
        background-color: bg-color(weak );
        border-radius: border-radius(rounded);
        position: absolute;
        left: -28px;
    }
    & .item__text {
        display: inline-block;
        min-width: 40px;
        padding-right: 5px;
    }
    & .item__icon {
        font-size: font-size(small);
    }
    & .setting__button {
        cursor: pointer;
        font-size: font-size(huge);
        height: $navbar-height;
        margin: 0 12px;
        position: relative;
        transition: color 0.2s;
        &:hover {
            color: text-color(primary);
        }
    }
    & .button__sup {
        background-color: bg-color(accent);
        border-radius: border-radius(default);
        color: text-color(default_invert);
        font-size: font-size(mini);
        height: 18px;
        line-height: 18px;
        padding: 0 4px;
        position: absolute;
        top: 20%;
        left: 64%;
        text-align: center;
        min-width: 18px;
    }
}





.sidebar {
    @include size($sidebar-width, calc(100vh - #{$navbar-height + 50px}));
    background-color: rgba(lighten(bg-color(light), 5%), 0.75);
    border-radius: border-radius(default);
    box-shadow: 0 2px 4px rgba(bg-color(heavy), 0.35);
    overflow: hidden;
    position: relative;
    & .sidebar__toggle {
        @include size(20px, 80px);
        align-items: center;
        background-color: bg-color(light);
        border-radius: border-radius(large) 0 0 border-radius(large);
        box-shadow: 0 0 4px rgba(bg-color(heavy), 0.45) inset;
        cursor: pointer;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 5vh;
        right: 100%;
    }
    & .sidebar__menu {
        max-height: calc(100vh - #{$navbar-height + 50px});
    }
}





.main-section {
    background-color: bg-color(default);
    border-radius: border-radius(default);
    box-shadow: 0 2px 6px rgba(bg-color(heavy), 0.15);
    padding: 20px 10px;
    width: calc(100% - #{$sidebar-width + 8px} - 0.5vw);
}
.main-section__inner {
    height: calc(100vh - #{$navbar-height + 95px});
    padding: 0 10px;
}
.main-section__header {
    border-bottom: 1px solid border-color(default);
    line-height: 36px;
    margin-bottom: 20px;
    padding: 0 20px 15px;
    position: relative;
    & .header__title {
        @include animate(main-section, 0.75s, 1, both, 0.2s);
        color: text-color(secondary);
        font-size: font-size(huge);
    }
    & .header__radio {
        @include animate(main-section, 0.75s, 1, both, 0.2s);
        position: absolute;
        right: 20px;
        bottom: -1px;
        @include multi-lang {
            right: 10px;
        }
    }
    & .header__button-group {
        @include animate(main-section, 0.75s, 1, both, 0.2s);
    }
    @include multi-lang {
        padding: 0 10px 15px;
    }
}
.main-section__content {
    @include animate(main-section, 0.75s, 1, both, 0.2s);
    padding: 0 20px;
    @include multi-lang {
        padding: 0 10px;
    }
}

.main-section__block {
    background-color: darken(mix(bg-color(lighter), bg-color(weak), 65%), 2%);
    border-radius: border-radius(default);
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    &::after {
        clear: both;
        content: "";
        display: block;
        height: 0;
        visibility: hidden;
    }
    @include multi-lang {
        padding-right: 10px;
        padding-left: 10px;
    }
}





#nprogress .bar {
    background-color: bg-color(secondary) !important;
}



@media #{$medium-screen} {
    .main-section__inner {
        height: calc(100vh - #{$navbar-height + 110px});
    }
    .sidebar {
        height: calc(100vh - #{$navbar-height + 70px});
        & .sidebar__menu {
            max-height: calc(100vh - #{$navbar-height + 70px});
        }
    }
}
