// ************************************************************
// layout
// ************************************************************

#app {
    & .app-main {
        margin: 0 auto;
        max-width: calc(#{$layout-max-width} + 8vw);
        padding: 50px 4vw 40px;
    }
}





.main-section {
    background-color: bg_color(primary);
    background: linear-gradient(45deg, bg_color(primary) 50%, rgba(#ffffff, 0) 50%), linear-gradient(-45deg, bg_color(warning) 70%, bg_color(primary) 70%);
    border-radius: border_radius(large);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding: 40px 4vw;
}

.main-section__title {
    color: text_color(secondary);
    font-size: font_size(huge);
    margin-bottom: 20px;
}

.main-section__body {
    background-color: bg_color(weakest);
    border-radius: border_radius(medium);
    margin-bottom: 20px;
    padding: 20px 2vw;
}

.panel-group {
    & .card-panel {
        color: text_color(weak);
        cursor: pointer;
        font-size: font_size(mini);
        height: 108px;
        & + .card-panel {
            box-shadow: 0 1px 0 rgba(#000000, 0.02) inset, 0 2px 0 rgba(#000000, 0.005) inset;
        }
    }
    & .card-panel-icon-wrapper {
        background-color: bg_color(weakest);
        border-radius: border_radius(rounded);
        box-shadow: 0 0 3px shadow_color(dark);
        color: text_color(accent);
        float: left;
        font-size: 28px;
        margin-top: 22px;
        padding: 16px;

    }
    & .card-panel-description {
        float: right;
        margin-top: 29px;
    }
    & .card-panel-text {
        line-height: 18px;
        font-size: font_size(medium);
        margin-bottom: 12px;
    }
    & .card-panel-num {
        font-size: font_size(large);
        color: text_color(default);
    }
}

.appointment-panel {
    background-color: lighten(bg_color(info), 8%);
    border-radius: border_radius(large);
    color: text_color(default_invert);
    float: right;
    font-size: 0;
    line-height: 0;
    margin-bottom: 20px;
    & .appointment-panel__title {
        display: inline-block;
        font-size: font_size(medium);
        line-height: 60px;
        padding-right: 15px;
        vertical-align: middle;
    }
    & .appointment-panel__icon {
        color: text_color(secondary);
        display: inline-block;
        font-size: 32px;
        margin: 0 10px 0 20px;
        vertical-align: middle;
    }
    & .appointment-panel__button-group {
        background-color: bg_color(info);
        box-shadow: -1px 0 0 darken(bg_color(info), 10%), 1px 0 0 lighten(bg_color(info), 8%) inset,  1px 0 0 lighten(bg_color(info), 6%), -1px 0 0 darken(bg_color(info), 8%) inset;
        border-radius: border_radius(large);
        display: inline-block;
        padding: 0 20px;
        vertical-align: middle;
        & .button-group__button {
            background-color: bg_color(heavy);
            border-radius: border_radius(large) 0 0 border_radius(large);
            cursor: pointer;
            display: inline-block;
            font-size: font_size(small);
            line-height: 36px;
            margin: 12px 0;
            padding: 0 20px;
            position: relative;
            transition: background-color 0.2s ease;
            vertical-align: top;
            & + .button-group__button {
                border-left: 1px solid darken(bg_color(heavy), 8%);
                border-radius: 0 border_radius(large) border_radius(large) 0;
                box-shadow: 1px 0 0 lighten(bg_color(heavy), 10%) inset;
            }
            & .button__item {
                @include size(auto, 20px);
                background-color: bg_color(strong);
                border-radius: border_radius(large);
                font-size: font_size(mini);
                line-height: 20px;
                min-width: 20px;
                padding: 0 5px;
                position: absolute;
                top: -10px;
                left: 70%;
                text-align: center;
            }
            &:hover {
                background-color: darken(bg_color(heavy), 6%);
            }
        }
    }
}



