// 背景
.login {
    background-image: radial-gradient(ellipse at center, bg-color(lighter) 35%, bg-color(primary) 100%);
    color: text-color(default);
    min-height: 100%;
}
.login__background {
    fill: bg-color(heavy);
    min-width: 1600px;
    position: fixed;
    bottom: -56vh;
}
.login__decoration {
    min-width: 1280px;
    position: fixed;
    bottom: -18vh;
    & path {
        fill: bg-color(warning);
    }
    & + & {
        bottom: -9vh;
        & path {
            fill: bg-color(default);
        }
    }
}



.login__language-select {
    position: absolute;
    top: calc(10vh + 12px);
    right: 12px;
}



//
.login__section {
    margin: 0 auto;
    max-width: 420px;
    min-width: 300px;
    padding: 10vh 0 20px;
    position: relative;
    text-align: center;
    z-index: 10;
    & .section__header {
        // background: bg-color(default) url("#{$img_path}logo.svg") center 35px no-repeat;
        background-size: 120px;
        border-radius: border-radius(large) border-radius(large) 0 0;
        font-size: font-size(huge);
        font-weight: bold;
        padding-top: 145px;
    }
    & .header__text {
        background-image: radial-gradient(ellipse at center, text-color(accent) 0%, text-color(strong) 100%);
        background-clip: text;
        color: transparent;
    }
    & .section__footer {
        font-size: font-size(small);
        line-height: 1.5;
        padding-top: 20px;
        text-shadow: 1px 1px 0 rgba(text-color(default_invert), 0.5);
    }
    & .footer__copyright {
        color: text-color(secondary);
        padding-bottom: 10px;
    }
    & .footer__service {
        padding-right: 5px;
        vertical-align: middle;
    }
    & .footer__icon {
        cursor: pointer;
        fill: bg-color(secondary);
        font-size: 1.5em;
        margin: 0 4px;
        vertical-align: middle;
    }
    @include multi-lang {
        max-width: 500px;
    }
}


// 登錄表單
.login__form {
    background-color: bg-color(default);
    border-radius: 0 0 border-radius(large) border-radius(large);
    box-shadow: 0 6px 4px -6px rgba(bg-color(heavy), 0.3);
    padding: 30px 3vw 30px;
    & .form__verification-code {
        & .el-input {
            width: calc(100% - 120px);
        }
        & .verification-code__image {
            background: bg-color(weakest);
            border-radius: border-radius(large);
            cursor: pointer;
            line-height: 40px;
            padding: 0 2px;
        }
        & img {
            border-radius: inherit;
            vertical-align: middle;
        }
    }
}
