$img_path: '../../assets/images/';
$icon_path: '../../assets/icons/';

$font-size: (
    mini  : 0.75rem,
    small : 0.875rem,
    medium: 1rem,
    large : 1.25rem,
    huge  : 1.5rem
);
@function font-size($name) {
    @return map-get($font-size, $name);
}
@each $size, $value in $font-size {
    .u_fz--#{$size} {
        font-size: $value;
    }
}

$border-radius: (
    small   : 4px,
    default : 10px,
    large   : 30px,
    rounded : 50%
);
@function border-radius($name) {
    @return map-get($border-radius, $name);
}

$medium-screen: "only screen and(max-width: 1365px)";
$small-screen: "only screen and(max-width: 979px)";
