$bg-color: (
    default     : #ffffff,
    primary     : #a1e3e5,
    secondary   : #38a7be,
    accent      : #be3838,
    strong      : #fbf9fa,
    warning     : #b58d46,
    light       : #cadee3,
    lighter     : #eff1f3,
    weak        : #f2f4f9,
    weaker      : #f5f7fa,
    weakest     : #f9fafc,
    heavy       : #0f647f
);
@function bg-color($name) {
    @return map-get($bg-color, $name);
}

$text-color: (
    default         : #000000,
    primary         : #56636f,
    secondary       : #858c96,
    success         : #00a573,
    accent          : #f48720,
    strong          : #da2428,
    warning         : #b58d46,
    weak            : #abbbca,
    info            : #00a7be,
    default_invert  : #ffffff
);
@function text-color($name) {
    @return map-get($text-color, $name);
}
@each $status, $color in $text-color {
    .u_color--#{$status} {
        color: $color;
    }
}

$border-color: (
    default         : #e4e9ed,
    primary         : #a1e3e5,
    secondary       : #38a7be,
    default_invert  : #ffffff
);
@function border-color($name) {
    @return map-get($border-color, $name);
}

$shadow-color: (
    default : rgba(0, 0, 0, 0.15),
    dark    : rgba(0, 0, 0, 0.2),
    light   : rgba(0, 0, 0, 0.075)
);
@function shadow-color($name) {
    @return map-get($shadow-color, $name);
}
