$font_family: "Microsoft JhengHei";

body {
    background-color: bg_color(default);
    font-family: $font_family;
    color: text_color(default);
    height: 100%;
}

button,
input,
select,
td,
textarea {
    background-color: transparent;
    font-family: $font_family;
    padding: 0;
}
th {
    font-weight: normal;
}

hr {
}

img {
    max-width: 100%;
    max-height: 100%;
}
