$button-size: (mini: 28px, small: 34px, medium: 40px, large: 50px);

@function button-size($name) {
    @return map-get($button-size, $name);
}

$button-length: (short: 120px, normal: 150px, long: 240px, longest: 320px, half: calc(50% - 10px), full: 100%);

@function button-length($name) {
    @return map-get($button-length, $name);
}

$el-size: (mini: 28px, small: 34px, medium: 40px, large: 50px);

@function el-size($name) {
    @return map-get($el-size, $name);
}

$el-length: (mini: 80px, shortest: 115px, short: 160px, normal: 200px, long: 240px, longest: 320px, half: calc(50% - 10px), full: 100%);

@function el-length($name) {
    @return map-get($el-length, $name);
}
