.el-table {
    border-radius: border-radius(default);
    color: text-color(primary);
    & .cell {
        line-height: 30px;
        word-break: initial;
    }
    & thead {
        color: text-color(default);
        font-weight: bold;
    }
    & th {
        background: linear-gradient(0deg, rgba(bg-color(light), 0.3) 0%, bg-color(default) 35%);
    }
    & .el-table__fixed-right-patch {
        background: linear-gradient(0deg, rgba(bg-color(light), 0.1) 0%, bg-color(default) 35%);
        border-radius: 0 border-radius(default) 0 0;
        border-bottom-color: border-color(default);
        top: 0;
    }
    & th.is-leaf,
    & td {
        border-bottom: 1px solid border-color(default);
    }
    & td.gutter,
    & th.gutter {
        border-bottom: 1px solid border-color(default);
    }
    & td {
        padding: 6px 0;
    }
    //
    & .is-sortable {
        transition: color 0.2s ease;
        &:hover {
            color: text-color(info);
        }
    }
    & .sort-caret {
        border: solid 6px transparent;
        left: 6px;
        transition: border-color 0.2s ease;
        &.ascending {
            border-bottom-color: border-color(default);
            top: 3px;
        }
        &.descending {
            border-top-color: border-color(default);
            bottom: 5px;
        }
    }
    & .ascending {
        & .sort-caret {
            &.ascending {
                border-bottom-color: border-color(secondary);
            }
        }
    }
    & .descending {
        & .sort-caret {
            &.descending {
                border-top-color: border-color(secondary);
            }
        }
    }
    &::after {
        @include pseudo;
        @include size(10px, 100%);
        border-radius: 0 border-radius(default) border-radius(default) 0;
        border-right: 1px solid border-color(default);
        background-color: transparent;
        top: 0;
        right: 0;
        z-index: 10;
    }
}
.el-table--small {
    & .cell {
        line-height: 22px;
    }
    &::after {
        display: none;
    }
}
.el-table--group::after,
.el-table--border::after {
    border-radius: 0 border-radius(default) border-radius(default) 0;
    border-right: 1px solid border-color(default);
}

.el-table::before {
    border-radius: 0 0 border-radius(default) border-radius(default);
    background-color: border-color(default);
}

.el-table--border {
    border-top-color: border-color(default);
    border-left-color: border-color(default);
}
.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border-right-color: border-color(default);
}





//
.el-table--striped {
    border: 1px solid border-color(default);
    & .el-table__body tr.el-table__row--striped td {
        background: bg-color(weakest);
    }
}





//
.el-table__empty-block {
    border-bottom: 1px solid border-color(default);
}
.el-table__empty-text {
    color: text-color(weak);
}





//
.el-table__footer-wrapper {
    & td {
        border-top-color: border-color(default);
    }
    & tbody td {
        background-color: bg-color(primary);
        transition: background-color .25s ease;
    }
}





//
.el-table--enable-row-hover .el-table__body tr:hover > td,
.el-table__footer-wrapper tbody tr:hover > td,
.el-table__body tr.hover-row.current-row > td,
.el-table__body tr.hover-row.el-table__row--striped.current-row > td,
.el-table__body tr.hover-row.el-table__row--striped > td,
.el-table__body tr.hover-row > td {
    background-color: mix(bg-color(weakest), bg-color(heavy), 80%);
    color: text-color(default);
}

.el-table--small .el-table__body tr:hover > td {
    background-color: bg-color(default);
}




.el-table--group .el-table__header {
    background: linear-gradient(0deg, rgba(178, 178, 178, 0.25) 0%, rgba(255, 255, 255, 0) 25%);
    & th {
        padding: 5px 0;
    }
    & tr {
        background-color: transparent;
    }
    & .cell {
        line-height: 16px;
    }
}
.el-table thead.is-group th {
    background-color: transparent;
}





.el-table--th-column,
.el-table--th-column.el-table--striped {
    & tr th:first-of-type,
    & tr td:first-of-type {
        background: linear-gradient(-90deg, rgba(178, 178, 178, 0.25) 0%, rgba(255, 255, 255, 0) 15%);
        border-right: 1px solid border-color(default);
    }
}





.el-table__expanded-cell[class*=cell] {
    padding: 10px 50px 0;
}




.el-table__fixed,
.el-table__fixed-right {
    box-shadow: -5px 0 5px shadow_color(light);
}





.el-table--enable-row-transition .el-table__body td {
    transition: background-color 0.25s ease, color 0.25s ease;
}





.el-table--fit {
    border-right: 0;
    border-bottom: 0;
}

.el-dialog .el-table {
    font-size: font-size(mini);
}