.el-dialog__wrapper {
    text-align: center;
}
.el-dialog {
    border-radius: border-radius(default);
    box-shadow: 0 2px 12px 0 shadow-color(default);
    display: inline-block;
    text-align: left;
    padding-bottom: 10px;
    width: 460px;
}
.el-dialog--form--wide {
    width: 1160px;
}
.el-dialog__header {
    background-color: bg-color(heavy);
    border-radius: border-radius(default) border-radius(default) 0 0;
    margin-bottom: 0;
    padding: 5px 20px 5px calc(0.6vw + 18px);
    position: relative;
}
.el-dialog__title {
    font-size: 1rem;
    line-height: 38px;
    color: text-color(default_invert);
}
.el-dialog__headerbtn {
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}
.el-dialog__headerbtn .el-dialog__close,
.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
    color: text-color(default_invert);
}
.el-dialog__body {
    color: text-color(default);
    padding: 0;
}
.el-dialog__content {
    padding: 20px calc(0.5vw + 25px);
    & .el-content__title {
        margin-bottom: 20px;
    }
    & .el-title__strong {
        color: text-color(info);
        padding: 0 5px;
    }
}

.el-dialog__footer {
    border-top: 1px solid border-color(default);
    font-size: 0;
    padding: 20px calc(0.5vw + 25px) 10px;
    text-align: center;
    & .el-button {
        height: button-size(medium);
        min-width: 110px;
        padding: 0;
        & > span {
            line-height: button-size(medium) - 2;
        }
    }
}

.el-dialog__footer button:nth-child(2) {
    margin-left: 20px;
}
