.el-menu {
    border-right: none;
    background-color: transparent;
}

.el-submenu {
    box-shadow: 0 1px 0 rgba(bg-color(heavy), 0.1) inset;
    & .el-menu-item {
        padding: 0;
        min-width: 0;
    }
}

.el-submenu__title {
    background-color: bg-color(light);
    box-shadow: 0 -2px 0 rgba(bg-color(heavy), 0.1) inset, 0 -1px 0 rgba(255, 255, 255, 0.5) inset;
    color: text-color(primary);
    font-size: font-size(medium);
    &:focus,
    &:hover {
        background-color: darken(bg-color(light), 5%);
    }
    & i {
        color: text-color(default);
    }
}

.el-menu-item {
    background-color: transparent;
    color: text-color(primary);
    &.is-active {
        color: text-color(info);
        font-weight: bold;
    }
    &:focus {
        background-color: transparent;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
    @include multi-lang {
        padding-left: 20px !important;
    }
}
