// ************************************************************
// elementui--popover
// ************************************************************

.el-popover {
    border: none;
    box-shadow: 6px 6px 12px 0 shadow_color(dark);
    color: text_color(secondary);
    padding: 0;
    & .popper__arrow {
        display: none;
    }
    &[x-placement^="bottom"] {
      margin-top: 0;
    }
}

.el-popover__title {
    background-color: bg_color(light);
    color: text_color(info);
    font-size: 1rem;
    line-height: 38px;
    margin-bottom: 0;
    padding: 5px 20px 5px 2vw;
}

.el-popover__body {
    line-height: 2rem;
    padding: 40px;
}

.el-popover__menu {
    border-bottom: 1px solid border_color(default);
    font-size: 0;
    padding: 20px 25px;
    & .menu__item {
        display: inline-block;
        padding: 0 15px;
        & + .menu__item {
            border-left: 1px solid border_color(default);
        }
    }
}

.el-popover__footer {
    border-top: 1px solid border_color(warning);
    padding: 15px 25px;
}
