.pagination-container {
    &.hidden {
        display: none;
    }
}

.el-pagination {
    color: text-color(default);
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    & .el-select .el-input {
        width: el-length(shortest);
        & .el-input__inner {
            border-radius: border-radius(large);
        }
        & .el-input__prefix,
        & .el-input__suffix {
            height: el-size(mini);
        }
    }
    & button:hover {
        color: text-color(info);
    }
    & button:disabled {
        background-color: transparent;
        color: text-color(weak);
    }
    & .btn-next,
    & .btn-prev {
        background: none;
        color: text-color(default);
    }
}
.el-pagination__sizes .el-input .el-input__inner {
    font-size: font-size(mini);
    &:hover {
        border-color: transparent;
    }
}

.el-pagination__total {
    color: text-color(default);
}

.el-pager li {
    background-color: bg-color(weakest);
    border-radius: border-radius(default);
    color: text-color(secondary);
    font-size: font-size(mini);
    margin: 4px;
    min-width: 28px;
    transition: all 0.2s ease;
    &.btn-quicknext,
    &.btn-quickprev {
        color: text-color(secondary);
    }
    &:not(.active):hover {
        background-color: bg-color(weak);
        color: text-color(default);
        cursor: pointer;
        transition: all 0.2s ease;
    }
    &.active {
        background-color: bg-color(secondary);
        color: text-color(default_invert);
    }
}
.el-pagination span:not([class*=suffix]),
.el-pagination button {
    height: el-size(small);
    font-size: font-size(mini);
    line-height: el-size(small);
}

.el-pagination__editor.el-input {
    width: el-length(mini);
    & .el-input__inner {
        height: el-size(mini);
    }
}
