.is_half:nth-of-type(even) {
    margin-left: 20px;
}
.el-input__inner,
.el-textarea__inner {
    background-color: bg-color(weakest);
    border-color: transparent;
    border-radius: border-radius(large);
    color: text-color(default);
    font-size: font-size(small);
    height: el-size(medium);
    line-height: el-size(medium);
    padding: 0 25px;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &::placeholder {
        color: text-color(weak);
    }
    &:hover {
        background-color: bg-color(weaker);
        border-color: transparent;
    }
    &:focus {
        background-color: bg-color(weak);
        border-color: transparent;
    }
}
.el-textarea__inner {
    border-radius: border-radius(default);
    height: auto;
    line-height: 1.5;
    padding: 5px 25px;
}

@each $size, $value in $el-size {
    .el-select--#{$size},
    .el-input--#{$size} {
        & .el-input__inner {
            height: $value;
            line-height: $value;
        }
    }
    .el-input--#{$size} {
        & .el-input-group__append span,
        & .el-input-group__prepend span {
            line-height: $value - 2;
        }
    }
    .el-radio-button--#{$size} {
        & .el-radio-button__inner {
            height: $value;
            line-height: $value;
            padding: 0 20px;
        }
    }
    .el-input--#{size} {
        & .el-input-group__append,
        & .el-input-group__prepend {
            background-color: bg-color(warning);
            color: text-color(default_invert);
        }
    }
    @if $size == 'mini' {
        .el-select--#{$size},
        .el-input--#{$size} {
            & .el-input__inner {
                font-size: font-size(mini);
                padding: 0 15px;
            }
            &.el-input--suffix .el-input__inner {
                    padding-right: 36px;
            }
            & .el-input__suffix {
                right: 8px;
            }
        }
    }
}
@each $length, $value in $el-length {
    .el-select.is_#{$length},
    .el-input.is_#{$length},
    .el-input-number.is_#{$length} {
        width: $value;
    }
    .el-radio-group.is_#{$length} .el-radio-button .el-radio-button__inner {
        min-width: $value;
    }
}





// form
.el-form {
    & .form__error {
        color: text-color(strong);
        line-height: 24px;
        margin: 15px 0;
        min-height: 26px;
        padding-left: 57px;
        position: relative;
        text-align: left;
        & .i_alert {
            position: absolute;
            top: 3px;
            left: 21px;
        }
        & .is_alert {
            @include animate(tada, 1s);
        }
    }
    & .error__text {
        font-size: font-size(small);
        vertical-align: middle;
    }
}
.el-dialog {
    & .form__error {
        margin-bottom: 0;
        padding-left: 0;
        text-align: center;
        & .i_alert {
            margin-right: 8px;
            position: static;
            vertical-align: middle;
        }
    }
}
.el-form-item {
    margin-bottom: 20px;
    &.is-error {
        & .el-input__inner,
        & .el-input__inner:focus,
        & .el-textarea__inner,
        & .el-textarea__inner:focus {
            background-color: bg-color(strong);
            border-color: transparent;
            &::placeholder {
                color: mix(text-color(weak), text-color(strong), 90%);
            }
        }
    }
    &.is-success {
        & .el-input__inner,
        & .el-textarea__inner {
            border-color: transparent;
            &:hover {
                background-color: bg-color(weaker);
                border-color: transparent;
            }
        }
        & .el-input__inner:focus,
        & .el-textarea__inner:focus {
            background-color: bg-color(weak);
            border-color: transparent;
        }
    }
    &.is_strong {
        & .el-form-item__label,
        & .el-form-item__text {
            color: text-color(strong);
        }
    }
}
.el-form--inline {
    font-size: 0;
    margin-bottom: 5px;
    & .el-form-item {
        margin-right: 10px;
        margin-bottom: 15px;
        padding-right: 10px;
        &:last-of-type {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
        }
    }
    & .el-form-item__label,
    & .el-form-item__content {
        vertical-align: middle;
    }
}

.el-form-item__label {
    color: text-color(default);
    font-size: font-size(small);
    padding-right: 6px;
    position: relative;
}
.el-form--label-top .el-form-item__label {
    padding-bottom: 0;
}
.el-form-item__content {
    color: text-color(secondary);
    font-size: font-size(small);
    line-height: el-size(medium);
}
.el-form-item__text {
    color: text-color(weak);
    padding-left: 25px;
}
.el-form-item--medium {
   & .el-form-item__label,
   & .el-form-item__content {
        line-height: el-size(medium);
        min-height: el-size(medium);
    }
}
.el-form-item--small {
    &.el-form-item {
        margin-bottom: 20px;
    }
   & .el-form-item__label,
   & .el-form-item__content {
        line-height: el-size(small);
        min-height: el-size(small);
    }
}

.el-form-item__error {
    color: text-color(strong);
    left: 25px;
}
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
    color: text-color(accent);
    margin-right: 0;
    position: absolute;
    left: 0;
    transform: translateX(-200%);
}





// prefix
.el-input--prefix {
    & .el-input__inner {
        padding-left: 55px;
    }
}
.el-input__prefix {
    left: 20px;
    & .el-input__icon {
        height: 100%;
    }
}
// suffix
.el-input--suffix {
  & .el-input__inner {
    padding-right: 40px;
  }
}
.el-input__suffix {
  right: 15px;
  & .el-input__icon {
    height: 100%;
  }
}





// el-input
.el-input {
    line-height: 0;
    & .el-icon-circle-close {
        // @include background_image("#{$icon-path}i_close.svg");
        @include size(20px, 100%);
        background-size: 20px;
        transition: none;
        &::before {
            display: none;
        }
    }
}
.el-input.is-disabled .el-input__inner {
    background-color: bg-color(weak);
    border-color: border-color(default);
    color: text-color(weak);
}



// append, prepend
.el-input-group--append .el-input__inner {
    border-right: none;
}

.el-input-group__append,
.el-input-group__prepend {
    background-color: bg-color(weak);
    border: none;
    border-radius: border-radius(large);
    box-shadow: -1px 0 1px shadow_color(light) inset, 2px 0 1px border_color(default_invert);
    color: text-color(default);
    min-width: 3em;
    padding: 0 8px;
    text-align: center;
}

.el-input-group__prepend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.el-input-group__append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 44px;
    padding: 0;
    text-align: center;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    & span {
        display: block;
    }
}





.el-input-number {
    &.is-controls-right {
        & .el-input__inner {
            padding: 0 28px 0 5px;
        }
        & .el-input-number__increase {
            border-radius: 0 border-radius(large) 0 0;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        & .el-input-number__decrease {
            border-left-color: transparent;
            border-radius: 0 0 border-radius(large);
        }
    }
}
.el-input-number__decrease,
.el-input-number__increase {
    background: bg-color(weakest);
    color: text-color(default);
    &:hover {
        color: text-color(info);
        &:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
            border-color: transparent;
        }
    }
}




//
.el-checkbox {
    color: text-color(primary);
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
        color: text-color(default);
    }
}
.el-checkbox__inner {
    @include size(20px);
    border-color: border-color(primary);
    border-radius: border-radius(small);
    &:hover {
        border-color: border-color(secondary);
    }
    &::after {
        border-width: 2px;
        top: 3px;
        left: 6px;
        transform: rotate(45deg) scale(0);
    }
}
.el-checkbox__input.is-checked,
.el-checkbox__input.is-indeterminate {
    & .el-checkbox__inner {
        background-color: bg-color(secondary);
        border-color: border-color(secondary);
        &::after {
            transform: rotate(45deg) scale(1.25);
        }
    }
    & + .el-checkbox__label {
        color: text-color(default);
    }
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    height: 4px;
    top: 7px;
}
.el-checkbox__input.is-focus:not(.is-checked) .el-checkbox__inner {
    border-color: border-color(primary);
}
.el-checkbox__input.is-disabled {
    & .el-checkbox__inner {
        background-color: bg-color(weakest);
        border-color: border-color(default);
    }
    & + span.el-checkbox__label {
        color: text-color(weak);
    }
}
.el-checkbox__label {
    padding-left: 8px;
}





//
.el-select {
    &:hover .el-input__inner,
    & .el-input__inner:focus,
    & .el-input.is-focus .el-input__inner,
    & .el-input__inner:focus:hover,
    & .el-input.is-focus .el-input__inner:hover {
        border-color: transparent;
    }
    & .el-input .el-select__caret {
        color: #999999;
    }
}
.el-select-dropdown__empty {
    line-height: el-size(small);
}
.el-select-dropdown__item {
    color: text-color(default);
    height: el-size(small);
    font-size: font-size(small);
    line-height: el-size(small);
    &.selected {
        color: text-color(info);
        &.hover,
        &:hover {
            background-color: bg-color(default);
        }
    }
    &.hover,
    &:hover {
        background-color: bg-color(weaker);
    }
}
.el-popper {
    border-color: border-color(default);
    border-radius: border-radius(default);
    box-shadow: 0 3px 6px 0 shadow-color(light);
}





//
.el-switch {
    line-height: 28px;
    height: 28px;
    &.is-checked .el-switch__core {
        background: border-color(secondary);
        border-color: border-color(secondary);
        &::after {
            margin-left: -24px;
        }
    }
}
.el-switch__core {
    background: border-color(weak);
    border-color: border-color(weak);
    border-radius: 14px;
    height: 28px;
    &:after {
        @include size(22px);
        top: 2px;
        left: 2px;
    }
}





// radio
.el-radio {
    color: text-color(primary);
}
.el-radio__inner,
.el-radio__inner:hover {
    border-color: border-color(default);
}
.el-radio__input.is-checked {
    & .el-radio__inner {
        background: bg-color(secondary);
        border-color: border-color(secondary);
    }
    & + .el-radio__label {
        color: text-color(info);
        font-weight: bold;
    }
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: bg-color(default);
    border-color: border-color(default);
    border-bottom-color: border-color(default_invert);
    box-shadow: -1px 0 0 border-color(default);
    color: text-color(default);
}
.el-radio-button {
    &:first-child .el-radio-button__inner {
        border-radius: border-radius(default) 0 0 0;
    }
    &:last-child .el-radio-button__inner {
        border-radius: 0 border-radius(default) 0 0;
    }
    &:focus:not(.is-focus):not(:active):not(.is-disabled) {
        box-shadow: none;
    }
}
.el-radio-button__inner {
    background-color: bg-color(lighter);
    color: text-color(secondary);
    &:hover {
        background-color: bg-color(lighter);
        color: text-color(primary);
    }
}





.el-divider {
    background-color: border-color(default);
}
.el-divider__text {
    color: text-color(primary);
}





.el-scrollbar__wrap {
    box-sizing: content-box;
}
