.el-message-box {
    border: none;
    border-radius: border-radius(default);
    max-width: calc(100% - 20px);
    width: 420px;
}
.el-message-box__header {
    background-color: bg-color(heavy);
    margin-bottom: 0;
    padding: 5px 20px 5px calc(0.6vw + 18px);
}
.el-message-box__title {
    font-size: 1rem;
    line-height: 38px;
    color: text-color(default_invert);
}
.el-message-box__headerbtn {
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}
.el-message-box__headerbtn .el-message-box__close,
.el-message-box__headerbtn:focus .el-message-box__close,
.el-message-box__headerbtn:hover .el-message-box__close {
    color: text-color(default_invert);
}
.el-message-box__btns {
    border-top: 1px solid border-color(default);
    padding: 20px calc(0.5vw + 25px) 10px;
    text-align: center;
    & .el-button.el-button--small {
        height: button-size(medium);
        min-width: 110px;
        padding: 0;
        & > span {
            font-size: font-size(small);
            line-height: button-size(medium) - 2;
        }
    }
}

.el-message-box__btns button:nth-child(2) {
    margin-left: 20px;
}

.el-message-box__content {
    align-items: center;
    display: flex;
    font-size: 1rem;
    min-height: 150px;
    padding: 0 calc(0.5vw + 25px);
}