// ************************************************************
// elementui--form
// ************************************************************

.el-input__inner {
    height: el-size(medium);
    line-height: el-size(medium);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@each $size, $value in $el-size {
    .el-select--#{$size},
    .el-input--#{$size} {
        & .el-input__inner {
            height: $value;
            line-height: $value;
        }
    }
    .el-input--#{$size} {
        & .el-input-group__append span,
        & .el-input-group__prepend span {
            line-height: $value - 2;
        }
    }
    .el-radio-button--#{$size} {
        & .el-radio-button__inner {
            height: $value;
            line-height: $value;
            padding: 0 20px;
        }
    }
    @if ($size == large) {
        .el-input--#{$size} {
            & .el-input-group__append,
            & .el-input-group__prepend {
                background-color: bg_color(warning);
                color: text_color(default_invert);
                border-color: border_color(warning);
                min-width: 90px;
            }
        }
    } @else {
        .el-input--#{size} {
            & .el-input-group__append,
            & .el-input-group__prepend {
                background-color: bg_color(warning);
                color: text_color(default_invert);
                border-color: border_color(warning);
            }
        }
    }
}
@each $length, $value in $el-length {
    .el-select.is_#{$length},
    .el-input.is_#{$length} {
        width: $value;
    }
}





// form
.el-form {
    & .form__error {
        color: text_color(alert);
        line-height: 24px;
        margin-top: 20px;
        min-height: 26px;
        padding-left: 57px;
        position: relative;
        text-align: left;
        & .i_alert {
            position: absolute;
            top: 3px;
            left: 21px;
        }
        & .is_alert {
            @include animate(tada, 1s);
        }
    }
    & .error__text {
        font-size: 1rem;
        vertical-align: middle;
    }    
}
.el-dialog {
    & .form__error {
        padding-left: 30px;
        & .i_alert {
            left: 0;
        }
    }
    & .error__text {
        font-size: 0.875rem;
    }    
}
.el-form-item {
    margin-bottom: 0;
    &.is-error {
        & .el-input__inner,
        & .el-input__inner:focus,
        & .el-textarea__inner,
        & .el-textarea__inner:focus {
            background-color: rgba(bg_color(strong), 0.05);
            border-color: transparent;
            border-bottom-color:  rgba(border_color(strong), 0.08);
            box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.3);
            // & ~ .el-input-group__append {
            //     border-color: border_color(strong);
            // }
        }
    }
    &.is-success {
        & .el-input__inner,
        & .el-textarea__inner {
            border-color: transparent;
            border-bottom-color: rgba(23, 18, 19, 0.05);
            &:hover {
                background-color: rgba(93, 76, 77, 0.02);
                border-color: transparent;
                border-bottom-color: rgba(23, 18, 19, 0.1);
                box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.3);
            }
        }
        & .el-input__inner:focus,
        & .el-textarea__inner:focus {
            background-color: rgba(93, 76, 77, 0.05);
            border-color: transparent;
            border-bottom-color: rgba(23, 18, 19, 0.1);
            box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.3);
        }
    }
}
.el-textarea__inner:focus {
    background-color: rgba(93, 76, 77, 0.05);
    border-color: transparent;
    border-bottom-color: rgba(23, 18, 19, 0.1);
    box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.3);
}
.el-form--inline {
    font-size: 0;
    & .el-form-item {
        margin-right: 10px;
        margin-bottom: 20px;
        padding-right: 10px;
        &:last-of-type {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
        }
    }
    & .el-form-item__label,
    & .el-form-item__content {
        vertical-align: middle;
    }
}

.el-form-item__label {
    color: text_color(default);
    font-size: 1rem;
    padding-right: 6px;
}
.el-form--label-top .el-form-item__label {
    padding-bottom: 0;
}
.el-form-item__content {
    color: text_color(secondary);
    font-size: 1rem;
}
.el-form-item--medium {
   & .el-form-item__label,
   & .el-form-item__content {
        line-height: 1.5rem;
    }
}
.el-form-item__error {
    color: text_color(strong);
    padding-top: 2px;
}
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
    color: text_color(accent);
}





// prefix
.el-input--prefix {
    & .el-input__inner {
        padding-left: 55px;
    }
}
.el-input__prefix {
  left: 20px;
  & .el-input__icon {
    height: 100%;
  }
}
// suffix
.el-input--suffix {
  & .el-input__inner {
    padding-right: 40px;
  }
}
.el-input__suffix {
  right: 15px;
  & .el-input__icon {
    height: 100%;
  }
}





// el-input
.el-input {
    & .el-icon-circle-close {
        @include background_image("./views/default/assets/icons/i_close.svg");
        @include size(20px, 100%);
        background-size: 20px;
        &::before {
            display: none;
        }
    }
}
.el-input__inner {
    border-color: transparent;
    background-color: rgba(93, 76, 77, 0.02);
    border-color: transparent;
    border-bottom-color: rgba(23, 18, 19, 0.1);
    box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.3);
    color: text_color(primary);
    font-size: 1rem;
    &::placeholder {
      color: text_color(weak);
    }
    &:hover {
        background-color: rgba(93, 76, 77, 0.05);
        border-color: transparent;
        border-bottom-color: rgba(23, 18, 19, 0.1);
        box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.3);
    & ~ .el-input-group__append {
            border-color: border_color(heavy);
        }
    }
    &:focus {
        background-color: rgba(93, 76, 77, 0.05);
        border-color: transparent;
        border-bottom-color: rgba(23, 18, 19, 0.1);
        box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.3);
        // & ~ .el-input-group__append {
        //     border-color: border_color(accent);
        // }
    }
}
.el-input.is-disabled .el-input__inner {
    background-color: bg_color(weak);
    border-color: border_color(default);
    color: text_color(default);
    & ~ .el-input-group__append {
        border-color: border_color(default);
    }
}



// append, prepend
.el-input-group--append .el-input__inner {
    border-right: none;
}

.el-input-group__append,
.el-input-group__prepend {
    background-color: bg_color(weak);
    border-radius: border-radius(default);
    color: text_color(default);
    padding: 0 8px;
}

.el-input-group__prepend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.el-input-group__append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 44px;
    padding: 0;
    text-align: center;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    & span {
        display: block;
    }
}





//
.el-checkbox {
    color: text_color(secondary);
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
        color: text_color(accent);
    }
}
.el-checkbox__inner {
    @include size(20px);
    border-color: border_color(accent);
    &:hover {
        border-color: border_color(accent);
    }
    &::after {
        border-width: 2px;
        top: 3px;
        left: 6px;
        transform: rotate(45deg) scale(0);
    }
}
.el-checkbox__input.is-checked {
    & .el-checkbox__inner {
        background-color: bg_color(accent);
        border-color: border_color(accent);
        &::after {
            transform: rotate(45deg) scale(1.25);
        }
    }
    & + .el-checkbox__label {
        color: text_color(accent);
    }
}
.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: border_color(accent);
}
.el-checkbox__label {
    padding-left: 8px;
}





// 
.el-select {
    &:hover .el-input__inner,
    & .el-input__inner:focus,
    & .el-input.is-focus .el-input__inner,
    & .el-input__inner:focus:hover,
    & .el-input.is-focus .el-input__inner:hover {
        border-color: transparent;
        border-bottom-color: rgba(23, 18, 19, 0.1);
    }
    & .el-input .el-select__caret {
        color: #999999;
    }
}
.el-select-dropdown__empty {
    line-height: el-size(small);
}
.el-select-dropdown__item {
    color: text_color(default);
    height: el-size(small);
    font-size: 0.875rem;
    line-height: el-size(small);
    &.selected {
        color: text_color(accent);
    }
    &.hover,
    &:hover {
        background-color: bg_color(weak);
    }
}
.el-popper {
    border: none;
    border-radius: 0;
    box-shadow: 6px 6px 12px 0 shadow_color(dark);
    &[x-placement^="top"],
    &[x-placement^="bottom"] {
        margin: 0;
        .popper__arrow {
            display: none;
        }   
    }
}





//
.el-switch {
    line-height: 28px;
    height: 28px;
    &.is-checked .el-switch__core {
        background: border_color(accent);
        border-color: border_color(accent);
        &::after {
            margin-left: -24px;
        }
    }
}
.el-switch__core {
    background: border_color(primary);
    border-color: border_color(primary);
    border-radius: 14px;
    height: 28px;
    &:after {
        @include size(22px);
        top: 2px;
        left: 2px;
    }
}





//
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: bg_color(accent);
    border-color: bg_color(accent);
    box-shadow: -1px 0 0 0 bg_color(accent);
}
.el-radio-button {
    &:first-child .el-radio-button__inner {
        border-left-color: border_color(default);
    }
    &:focus:not(.is-focus):not(:active):not(.is-disabled) {
        box-shadow: none;
    }
}

.el-radio-button__inner {
    border-color: border_color(default);
    color: text_color(default);
    font-weight: bold;
    &:hover {
        background-color: bg_color(weak);
        color: text_color(secondary);
    }
}

