// ************************************************************
// elementui--menu
// ************************************************************

#app {
    & .sidebar-container {
        background-color: sidebar_color(submenu);
        box-shadow: 3px 0 10px shadow_color(default);
        & .submenu-title-noDropdown:hover,
        & .el-submenu__title:hover {
            background-color: sidebar_color(hover);
        }
        & .nest-menu .el-submenu > .el-submenu__title,
        & .el-submenu .el-menu-item {
            background-color: sidebar_color(submenu);
            height: 56px;
            line-height: 56px;
        }
        & .nest-menu .el-submenu > .el-submenu__title:hover,
        & .el-submenu .el-menu-item:hover {
            background-color: sidebar_color(hover);
        }
    }
    & .el-menu-item {
        &.is-active {
            background-color: sidebar_color(active);
            color: text_color(accent);
            font-weight: bold;
            &:hover,
            &:focus {
                background-color: sidebar_color(active);
            }
        }
        &:focus {
            background-color: sidebar_color(title);
        }
    }
    & .submenu-title-noDropdown,
    & .el-submenu__title {
        background-color: sidebar_color(title);
        color: rgba(text_color(default), 0.8);
        font-size: font_size(medium);
    }
    & .el-submenu__title i {
        color: rgba(text_color(default), 0.8);
    }
    .el-menu-item:not(.submenu-title-noDropdown).is-active {
        &,
        &:hover,
        &:focus {
            background-color: sidebar_color(active);
            color: text_color(accent);
            cursor: default;
            &::after {
                background: bg_color(accent);
            }
        }
    }
}





.el-menu--vertical {
    .nest-menu .el-submenu>.el-submenu__title,
    .el-menu-item {
        background-color: sidebar_color(title);
        &:hover {
            background-color: sidebar_color(hover);
        }
    }
    & >.el-menu--popup {
        &::-webkit-scrollbar-track-piece {
            background: #d3dce6;
        }
        &::-webkit-scrollbar-thumb {
            background: #99a9bf;
        }
    }
}
.el-menu {
    background-color: sidebar_color(submenu);
}

.el-menu-item {
    color: rgba(text_color(default), 0.8);
    font-size: font_size(medium);
    &.is-active {
        background-color: sidebar_color(active);
        color: text_color(accent);
        font-weight: bold;
        &:hover,
        &:focus {
            background-color: sidebar_color(active);
        }
    }
    &:focus {
        background-color: sidebar_color(title);
    }
}
